In [ ]:
'hello world'

In [117]:
import pandas as pd

import numpy as np

In [118]:
df_movies = pd.read_csv('data/tmdb.movies.csv')

In [119]:
df_movies.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [120]:
df_movies.drop(columns = {'Unnamed: 0', 'id', 'original_language', 'original_title'}, inplace = True)

In [121]:
df_movies.head()

,genre_ids,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27.920,2010-07-16,Inception,8.3,22186

In [71]:
df_movies = df_movies.set_index('title')

In [80]:
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'])

In [81]:
df_movies.head()
#df_movies.shape

,genre_ids,popularity,release_date,vote_average,vote_count
title,,,,,
Harry Potter and the Deathly Hallows: Part 1,"[12, 14, 10751]",33.533,2010-11-19,7.7,10788
How to Train Your Dragon,"[14, 12, 16, 10751]",28.734,2010-03-26,7.7,7610
Iron Man 2,"[12, 28, 878]",28.515,2010-05-07,6.8,12368
Toy Story,"[16, 35, 10751]",28.005,1995-11-22,7.9,10174
Inception,"[28, 878, 12]",27.920,2010-07-16,8.3,22186

In [53]:
df_budgets = pd.read_csv('data/tn.movie_budgets.csv')

In [54]:
df_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [56]:
# df_budgets['release_date'] = pd.to_datetime(df_budgets['release_date'])

df_budgets = df_budgets.rename(columns = {'production_budget':'budget'})
df_budgets = df_budgets.rename(columns = {'worldwide_gross':'wwgross'})

df_budgets['budget'] = df_budgets['budget'].str.replace(',', '')
df_budgets['budget'] = df_budgets['budget'].str.replace('$' ,'')
df_budgets['budget'] = df_budgets['budget'].astype(float)

#budget = df_budgets['budget'].apply(lambda x: x.replace('$', '').replace(',',''))


df_budgets['wwgross'] = df_budgets['wwgross'].str.replace('$','')
df_budgets['wwgross'] = df_budgets['wwgross'].str.replace(',','')
df_budgets['wwgross'] = df_budgets['wwgross'].astype(float)

#wwgross = df_budgets['wwgross'].apply(lambda x:  x.replace('$','').replace(',',''))

df_budgets = df_budgets.drop(columns = {'id', 'domestic_gross'})
#df_budgets.head()

#print(type(df_budgets['wwgross']), type(df_budgets['budget']))

In [60]:
df_budgets['profit_index'] = df_budgets['wwgross']/df_budgets['budget']

In [63]:
df_budgets = df_budgets.rename(columns = {'movie':'title'})

In [73]:
df_budgets.set_index('title')

,release_date,budget,wwgross,profit_index
title,,,,
Avatar,"Dec 18, 2009",425000000.0,2.776345e+09,6.532577
Pirates of the Caribbean: On Stranger Tides,"May 20, 2011",410600000.0,1.045664e+09,2.546673
Dark Phoenix,"Jun 7, 2019",350000000.0,1.497624e+08,0.427892
Avengers: Age of Ultron,"May 1, 2015",330600000.0,1.403014e+09,4.243841
Star Wars Ep. VIII: The Last Jedi,"Dec 15, 2017",317000000.0,1.316722e+09,4.153696
...,...,...,...,...
Red 11,"Dec 31, 2018",7000.0,0.000000e+00,0.000000
Following,"Apr 2, 1999",6000.0,2.404950e+05,40.082500
Return to the Land of Wonders,"Jul 13, 2005",5000.0,1.338000e+03,0.267600
A Plague So Pleasant,"Sep 29, 2015",1400.0,0.000000e+00,0.000000
My Date With Drew,"Aug 5, 2005",1100.0,1.810410e+05,164.582727

In [78]:
df_budgets['release_date'] = pd.to_datetime(df_budgets['release_date'])

In [85]:

df_budgets.head()

,release_date,title,budget,wwgross,profit_index
0,2009-12-18,Avatar,425000000.0,2.776345e+09,6.532577
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,1.045664e+09,2.546673
2,2019-06-07,Dark Phoenix,350000000.0,1.497624e+08,0.427892
3,2015-05-01,Avengers: Age of Ultron,330600000.0,1.403014e+09,4.243841
4,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,1.316722e+09,4.153696

In [87]:
df_budgets.shape

(5782, 5)

In [86]:
df_movies.head()

,genre_ids,popularity,release_date,vote_average,vote_count
title,,,,,
Harry Potter and the Deathly Hallows: Part 1,"[12, 14, 10751]",33.533,2010-11-19,7.7,10788
How to Train Your Dragon,"[14, 12, 16, 10751]",28.734,2010-03-26,7.7,7610
Iron Man 2,"[12, 28, 878]",28.515,2010-05-07,6.8,12368
Toy Story,"[16, 35, 10751]",28.005,1995-11-22,7.9,10174
Inception,"[28, 878, 12]",27.920,2010-07-16,8.3,22186

In [101]:
df_movies.shape

(26517, 10)

In [99]:
df_movies.shape

In [104]:
movies_pkle = pd.merge(df_budgets, df_movies, how = 'inner', on ='title')
movies_pkle.shape

(2385, 14)

In [107]:
movies_pkle.head(20)

,release_date_x,title,budget,wwgross,profit_index,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date_y,vote_average,vote_count
0,2009-12-18,Avatar,425000000.0,2.776345e+09,6.532577,6,"[28, 12, 14, 878]",19995,en,Avatar,26.526,2009-12-18,7.4,18676
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,1.045664e+09,2.546673,2470,"[12, 28, 14]",1865,en,Pirates of the Caribbean: On Stranger Tides,30.579,2011-05-20,6.4,8571
2,2015-05-01,Avengers: Age of Ultron,330600000.0,1.403014e+09,4.243841,14169,"[28, 12, 878]",99861,en,Avengers: Age of Ultron,44.383,2015-05-01,7.3,13457
3,2018-04-27,Avengers: Infinity War,300000000.0,2.048134e+09,6.827114,23811,"[12, 28, 14]",299536,en,Avengers: Infinity War,80.773,2018-04-27,8.3,13948
4,2017-11-17,Justice League,300000000.0,6.559452e+08,2.186484,20623,"[28, 12, 14, 878]",141052,en,Justice League,34.953,2017-11-17,6.2,7510
5,2017-11-17,Justice League,300000000.0,6.559452e+08,2.186484,23830,"[28, 12, 14, 878]",141052,en,Justice League,34.953,2017-11-17,6.2,7510
6,2015-11-06,Spectre,300000000.0,8.796209e+08,2.932070,14175,"[28, 12, 80]",206647,en,Spectre,30.318,2015-11-06,6.4,6719
7,2015-11-06,Spectre,300000000.0,8.796209e+08,2.932070,17386,"[28, 12, 80]",206647,en,Spectre,30.318,2015-11-06,6.4,6719
8,2012-07-20,The Dark Knight Rises,275000000.0,1.084439e+09,3.943415,5182,"[28, 80, 18, 53]",49026,en,The Dark Knight Rises,26.220,2012-07-20,7.7,13933
9,2018-05-25,Solo: A Star Wars Story,275000000.0,3.931513e+08,1.429641,23845,"[28, 12, 878]",348350,en,Solo: A Star Wars Story,29.502,2018-05-25,6.6,3838
10,2013-07-02,The Lone Ranger,275000000.0,2.600021e+08,0.945462,7967,"[28, 12, 37]",57201,en,The Lone Ranger,12.482,2013-07-03,6.0,3789
11,2012-03-09,John Carter,275000000.0,2.827781e+08,1.028284,5197,"[28, 12, 878]",49529,en,John Carter,18.549,2012-03-09,6.1,3338
12,2010-11-24,Tangled,260000000.0,5.864772e+08,2.255682,13,"[16, 10751]",38757,en,Tangled,21.511,2010-11-24,7.5,6407
13,2016-05-06,Captain America: Civil War,250000000.0,1.140069e+09,4.560278,17382,"[12, 28, 878]",271110,en,Captain America: Civil War,39.137,2016-05-06,7.4,14000
14,2016-03-25,Batman v Superman: Dawn of Justice,250000000.0,8.675003e+08,3.470001,17390,"[28, 12, 14]",209112,en,Batman v Superman: Dawn of Justice,28.088,2016-03-25,5.8,11991
15,2012-12-14,The Hobbit: An Unexpected Journey,250000000.0,1.017004e+09,4.068014,5180,"[12, 14, 28]",49051,en,The Hobbit: An Unexpected Journey,26.939,2012-12-14,7.2,12076
16,2013-12-13,The Hobbit: The Desolation of Smaug,250000000.0,9.603669e+08,3.841467,7890,"[12, 14, 28]",57158,en,The Hobbit: The Desolation of Smaug,21.275,2013-12-13,7.6,7739
17,2014-12-17,The Hobbit: The Battle of the Five Armies,250000000.0,9.455776e+08,3.782310,11020,"[28, 12, 14]",122917,en,The Hobbit: The Battle of the Five Armies,53.783,2014-12-17,7.3,8392
18,2017-04-14,The Fate of the Furious,250000000.0,1.234846e+09,4.939385,20630,"[28, 80, 53]",337339,en,The Fate of the Furious,28.668,2017-04-14,6.9,6335
19,2017-05-26,Pirates of the Caribbean: Dead Men Tell No Tales,230000000.0,7.882411e+08,3.427135,20634,"[12, 28, 14, 35]",166426,en,Pirates of the Caribbean: Dead Men Tell No Tales,28.101,2017-05-26,6.6,6931

In [10]:
df_budgets['wwgross'].dtype

dtype('float64')

In [ ]:

# df_budgets = df_budgets.rename(columns = {'production_budget' : 'budget'})

# df_budgets = df_budgets.set_index('')
#df_budgets = df_budgets.set_index('')

# df_budgets.columns

# def budget_to_gross(budget, gross):
#     budget_by_gross = budget/gross
#     return budget_by_gross

# type(df_budgets['wwgross'].iloc[0])

# df_budgets['production_budget'].head()
# df_budgets['production_budget'].str.replace(',', '').str.replace('$', '')
# df_budgets['production_budget'].astype(float)

# def greater_than_300(budget):
#     T_or_F = budget > 300000000
#     return T_or_F

# # df_budgets.head()
#df_budgets['greater_than_300'] = df_budgets['budget'].apply(greater_than_300)

# df_budgets.head()

# #df_budgets['production_budget'].value_counts(normalize = False )


df_budgets['revenue_to_cost'] = df_budgets['wwgross']/df_budgets['budget']

# # print(df_budgets['production_budget'].dtype)
# # df_budgets(['production_budget']) = df_budgets['production_budget'].obj.replace(',','')
# # #  do same but attach it to the dataframe
# # df['c'] = df.apply(lambda row: row.a + row.b, axis=1)
#df_budgets.head()
# #df_budgets.info()
df_budgets.head()